
<div class="row front-row">
    <div class="col-md-6 col-md-offset-3">
        <div class="dateselect">
          <h4>Select Date to View Nasa Image of the Day</h4>

          <%= form_for(@thing) do |f|  %>

        <%= f.date_select :date, use_two_digit_numbers: true, start_year: 1996, end_year: 2015, class: 'form-control' %>


        <%= f.submit "Choose Date", class: 'btn btn-success' %>

    <% end %>
      </div>
    </div>
</div>